body{
    background-image: url(../img/squairy_light.png);
    background-color: #ffffff;
}
.main-area{
    background: #ffffff;
    padding: 10px;
}
.white-area{
    background: #ffffff;
    padding: 10px;
}
.spacing-40{
    margin-bottom: 60px;
}
.spacing-20{
    margin-bottom: 10px;
}
.footer{
    background: #4C4C4C;
    color: #ffffff;
}